  .header {
    background: linear-gradient(to right, #0d1b2a, #1b263b);
    color: white;
  }
  .logo-box {
    color: white;
    font-weight: bold;
  }
  .logo-text p {
    color: #ddd;
  }
  .contact .phone {
    color: #ff7f00;
    font-weight: bold;
    font-size: 18px;
  }
  .social-links {
    display: flex;
    align-items: center;
  }
  .header-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    margin: 5px;
    cursor: pointer;
  }
  .icons i {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }

.logo-text h2 {
  font-size: 22px;
  margin: 0;
}
.logo-text p {
  font-size: 14px;
  margin: 0;
  color: #ddd;
}
.contact .phone {
  color: #ff7f00;
  font-weight: bold;
  font-size: 18px;
}
.social-links {
  display: flex;
  align-items: center;
}
.header-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}
.icons i {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.nav-links {
 
  justify-content: center;
  display: inline;
}
.nav-links li {
  list-style: none;
  margin: 0 15px;
  display: inline;
  
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-left: 20px;
}

.logo-box img{
  width: 100px;
  margin-left: 40px;
}